* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#header {
    background: #fff;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 50%;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and
(max-width: 768px) {
    .menu {
        width: 100%;
        min-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        display: none;
    }
}